* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    position: relative;
}

h1 {
    color: white;
    font-size: 3em;
    font-family: sans-serif;
    cursor: default;
}

#container {
    background-color: #23272b;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#canvas {
    width: 90vw;
    height: 90vw;
    max-width: 550px;
    max-height: 550px;
    background-color: #e6f0f5;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(5px 5px 10px #000000);
}

#clear-button {
    width: 80px;
    height: 1.5em;
    border-radius: 16px;
    border: 0;
    background-color: #e6f0f5;
    font-weight: bold;
    font-size: 1.25em;
    filter: drop-shadow(2px 2px 5px #000000);
    margin-top: -10px;
    cursor: pointer;
}

#color-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    max-width: 550px;
    gap: 10px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    box-sizing: content-box;
    filter: drop-shadow(2px 2px 5px #000000);
}

.selected {
    border: 2px solid white;
}

.selected-black {
    border: 2px solid black;
}

.black {
    background-color: black;
}

.red {
    background-color: #db0f0f;
}

.blue {
    background-color: #1414db;
}

.green {
    background-color: #08c70e;
}

.eraser {
    background-color: #e6f0f5;
}